data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep


outputs/*.csv


__pycache__/
*.pyc
*.pyo
*.pyd
.python/


venv/
.env/
.venv/
env/
virtualenv/


.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

